#crimeBreakdown {
  margin-top: 40px;
  font-size: 2rem;
}

#crimeBreakdown ul {
  list-style: none;
  padding: 0;
}

#crimeBreakdown li {
  margin: 10px 0;
}

body {
  background: red;
}
``
